//
// Write you code 
//

$g-background: #212228;
$bg-dark: #24262d;
$normal-bg: #282a31;
$bg-light: #30333c;
$light-bg: #494c55;

$g-red: #f23030;
$g-green: #a9fd00;
$g-black: #000;
$g-color: #fff;
$g-text-color: #e6e6e6;

$main-color: #ef406c;
$alt-color: #75469c;

// Globals
html,body {
    font-family: $font-family-text;
	font-size: $font-size-normal;
    width: 100%;
	min-height: 100%;
	margin: 0;
    padding: 0;
	letter-spacing: normal;
    color: $g-color;
    background: $g-background;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    margin: 0 0 10px 0;
}

p{
    margin: 0 0 10px 0;
}

a{
    color: $g-color;
    text-decoration: none;
    transition: all 0.3s ease;
}

input:focus, button:focus, textarea:focus{
    outline: none;
}

.container{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.link{
    text-decoration: none;
    color: $g-color;
    padding: 5px 10px;
    border: solid 1px $g-color;
    border-radius: 5px;
    transition: all 0.3s ease;


    &:hover{
        color: $g-black;
        background: $g-color;
    }
}



// Code
.auth{
    max-width: 1160px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-row{
        margin: 10px 0;
    }

    &__form{
        max-width: 400px;
        width: 100%;
        padding: 30px;
        margin: 0 auto;
        border: solid 1px $g-color;
        border-radius: 5px;
        background: $normal-bg;
        
    }

    &__title{
        font-family: $font-family-header;
        margin: 0 0 20px 0;
    }

    &__input{
        font-size: 12px;
        color: $g-text-color;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: solid 1px #f5f5f5;
        border-radius: 5px;
        background: transparent;
    }

    &__notification{
        font-family: 'SegoeUIItalic';
        font-weight: bold;
        color: $g-red;
        height: 18px;
    }

    &__button{
        color: $g-text-color;
        padding: 5px 15px;
        margin: 0 auto;
        cursor: pointer;
        border: solid 1px #e6e6e6;
        border-radius: 5px;
        background: transparent;
        transition: all 0.5s ease;
        display: block;

        &:hover{
            color: #000;
            background: $g-text-color;
        }

    }
}
.error-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title{
        font-size: 150px;
        color: $g-text-color;
        display: block;
        margin: 10px 0;
    }

    &__subtitle{
        font-size: 35px;
        color: $g-text-color;
        margin: 10px 0;
    }
    &__link{
        margin: 10px 0;
    }
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
    background: $light-bg;

    &__logo{
        width: 50px;
    }

    &__title{
        font-family: 'SegoeUILight';
        font-weight: 100;
        margin: 0 10px;
    }

    .user-profile{
        height: 50px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__photo{
            width: 45px;
            height: 45px;
            border: solid 2px $main-color; 
            border-radius: 50%;
            overflow: hidden;
            background: $g-color;
            position: relative;
        }

        &__image{
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        &__name{
            margin-left: 10px;
        }
    }

    &__item{
        width: 16px;
        height: 16px;
        margin: 0 10px;

        &.notification{
            background: url('../img/notification.png') no-repeat center center;
            background-size: cover;
            position: relative;
        }
        .notification__item{
            font-size: 10px;
            text-align: center;
            color: $g-color;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            outline: none;
            background: $main-color;
            position: absolute;
            top: -8px;
            right: -8px;
        }
        
        &.logout{
            background: url('../img/logout.png') no-repeat center center;
            background-size: cover;
            position: relative;
        }
    }
}

//Страница с инф. о пользователе
.user-profile{
    
    height: 100vh;
    display: flex;
    align-items: center;

    &__form{
        max-width: 400px;
        width: 100%;
        padding: 30px;
        margin: 0 auto;
        border: solid 1px $g-color;
        border-radius: 5px;
        background: $normal-bg;
    }

    &__notification{
        height: 18px;

        &.alert{
            color: $g-red;
        }

        &.succes{
            color: $g-green;
        }
    }

    &__row{
        margin: 10px 0;
    }

    &__input{
        font-size: 12px;
        color: $g-text-color;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: solid 1px $g-color;
        border-radius: 5px;
        background: transparent;
    }

    &__textarea{
        font-size: 12px;
        color: $g-text-color;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: solid 1px $g-color;
        border-radius: 5px;
        background: transparent;
    }

    &__button{
        color: $g-text-color;
        padding: 5px 15px;
        margin: 0 auto;
        cursor: pointer;
        border: solid 1px $g-color;
        border-radius: 5px;
        background: transparent;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: block;

        &:hover{
            color: $g-black;
            background: $g-color;
        }
    }
   
}

//Database 
.speedtest{
    margin: 40px 0;

    &__button{
        color: $g-color;
        padding: 5px 20px;
        margin: 0 auto;
        border: solid 1px $g-color;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        transition: all 0.3s ease;
        
        &:hover{
            color: $g-black;
            background: $g-color;
        }
    }

    &__block{
        text-align: center;
        margin: 30px 0;
    }

    &__progress-bar{
        width: 100%;
        height: 5px;
        background: $g-color;
        position: relative;
        margin: 15px 0;
    }

    &__progress-item{
        height: 5px;
        position: absolute;
        background: $main-color;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
    }

    &__item{
        width: 25%;
        height: 150px;
        margin-right: -4px;
        position: relative;
        display: inline-block;
    }

    &__name{
        font-size: 18px;
        color:$g-color;
    }

    &__metrix-count{
        font-size: 22px;
        color: $main-color;
        height: 25px;
        margin: 20px 0;
    }

    &__metrix-value{
        color: $g-color;
    }

    &__running{
        color: $g-black;
        background: $g-color;
    }

    &__field{
        margin-left: 20px;
        padding: 5px 0;
        display: inline-block;
    }
    
}

.log-page{
    margin: 30px 0;

    &__table{
        padding: 15px;
        border: solid 1px $g-color;
        border-radius: 5px;
        background: $normal-bg;
    }

    &__row td{
        border-bottom: solid 1px #333;
    }

    &__cell{
        text-align: left;
        padding: 10px 0;
        border-right: solid 1px $g-color;

        &:last-child{
            border-right: none;
        }
    }

    &__cell--time{
        width: 25%;
        border:none;
    }

    &__cell--status{
        width: 25%;
        border:none;
    }

    &__cell--description{
        width: 50%;
        border:none;
    }
}

//Constructor page
.constructor{
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;

    .left-panel{
        max-width: 50px;
        width: 100%;
        height: 100vh;
        background: $light-bg;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;

        &__menu{
            display: flex;
            flex-direction: column;
        }

        &__item{
            width: 50px;
            height: 50px;
            transition: all 0.3s ease;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &.active{
                background: $bg-light;
            }
        }

        &__image{
            width: 24px;
            height: 24px;
            display: inline-block;
            

            &.image-home{
                background: url('../img/constructor/home.png') no-repeat center center;
                background-size: cover;
            }
            &.image-room{
                background: url('../img/constructor/drawing.png') no-repeat center center;
                background-size: cover;
            }
            &.image-catalog{
                background: url('../img/constructor/bedside-table.png') no-repeat center center;
                background-size: cover;
            }
            &.image-settings{
                background: url('../img/constructor/settings.png') no-repeat center center;
                background-size: cover;
            }
            &.image-help{
                background: url('../img/constructor/help.png') no-repeat center center;
                background-size: cover;
            }
        }
    }
    .right-panel{
        max-width: 50px;
        width: 100%;
        height: 100vh;
        display: flex;
        display: none!important;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        align-items: center;

        &__menu{
            display: flex;
            flex-direction: column;
            background: $light-bg;
            position: relative;

            &:before{
                content: '';
                border-bottom: 20px solid $light-bg;
                border-left: 50px solid transparent;
                position: absolute;
                top: -20px;
            }
            &:after{
                content: '';
                border-top: 20px solid $light-bg;
                border-right: 50px solid transparent;
                position: absolute;
                bottom: -20px;
            }
        }

        &__item{
            width: 50px;
            height: 50px;
            transition: all 0.3s ease;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &.active{
                background: $bg-light;
            }
        }

        &__image{
            width: 24px;
            height: 24px;
            display: inline-block;
            
            &.image-lines{
                background: url('../img/constructor/cube.png') no-repeat center center;
                background-size: cover;
            }
            &.image-save{
                background: url('../img/constructor/diskette.png') no-repeat center center;
                background-size: cover;
            }
            &.image-share{
                background: url('../img/constructor/share-symbol.png') no-repeat center center;
                background-size: cover;
            }
            &.image-blueprint{
                background: url('../img/constructor/blueprint.png') no-repeat center center;
                background-size: cover;
            }
        }
    }
    .modal-overlay{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.5);

        &.active{
            display: flex;
        }

        .modal{
            max-width: 640px;
            min-height: 100px;
            width: 100%;
            background: $light-bg;

            &__header{
                font-size: 24px;
                line-height: 50px;
                padding: 0 30px;
                text-transform: uppercase;
                background: $g-background;
                position: relative;
            }
            &__body{
                padding: 30px;
            }
            &__list{
                list-style: none;
            }
            &__item{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
            &__box{
                height: 32px;
                width: 32px;
                border: solid 1px $g-color;
                border-radius: 3px;
                display: inline-block;
                position: relative;
                
                &.image-lines:after{
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: url('../img/constructor/cube.png') no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
                &.image-save:after{
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: url('../img/constructor/diskette.png') no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
                &.image-share:after{
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: url('../img/constructor/share-symbol.png') no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
                &.image-blueprint:after{
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: url('../img/constructor/blueprint.png') no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
            }
            &__text{
                margin-left: 15px;
                margin-bottom: 0;
                flex: 1;
                display: inline-block;
            }
            &__hotkey{
                text-transform: uppercase;
                padding: 2px 5px;
                margin: 0 5px;
                border: solid 1px $g-color;
                border-radius: 3px;
                box-shadow: 1px 1px 7px rgba(255,255,255,0.3);
            }
            &__close{
                font-size: 12px;
                cursor: pointer;
                position: absolute;
                right: 30px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

// Constructor controls
#floorplanner{
    min-height: 100vh;
    background: $g-color;
    position: relative;
}

.floorplanner{

    &-controls{
        position: absolute;
        top: 10px;
        right: 0;
    }

    &__button{
        font-size: 12px;
        color: $g-color;
        padding: 5px 10px 5px 20px;
        display: inline-block;
        cursor: pointer;
        border: solid 1px $bg-light;
        border-radius: 5px;
        background: $bg-light;
        transition: all 0.3s ease;
        position: relative;

        &::after{
            content: '';
            width: 10px;
            height: 10px;
            background: transparent;
            border-radius: 50%;
            border: solid 1px $g-color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 3px;
            margin: auto;

        }
        
        &:hover{
            color: $bg-light;
            background: $g-color;

            &:after{
                border: solid 1px $bg-light;
            }
        }

        &.btn-primary{
            color: $bg-light;
            background: $g-color;

            &:after{
                background: $bg-light;
            }
        }
    }

    &__hint{
        padding: 5px;
        background: $bg-light;
        position: absolute;
        top: 40px;
        right: 0;
    }
}

#viewer{
    position: relative;
}

.camera-controls{
    font-size: 0;
    padding: 0 20px;
    position: absolute;
    right: 0;
    bottom: 20px;

    &__button{
        font-size: 16px;
        width: 25px;
        height: 25px;
        margin: 0 2px;
        cursor: pointer;
        background: $light-bg;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        z-index: 1100;
        
        &:hover{
            background: $bg-light;
        }

        &#move-up{
            position: absolute;
            top: -15px;
            margin: 0;
        }
        &#move-down{
            position: absolute;
            bottom: -15px;
            margin: 0;
        }
    }

    &__img{
        margin: 3px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &.control-zoom-out{
            background-image: url('../img/constructor/zoom-out.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.control-reset{
            background-image: url('../img/constructor/full-screen.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.control-zoom-in{
            background-image: url('../img/constructor/zoom-in.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.control-left{
            margin: 5px;
            background-image: url('../img/constructor/left-arrow.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.control-right{
            margin: 5px;
            background-image: url('../img/constructor/right-arrow.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.control-up{
            margin: 5px;
            background-image: url('../img/constructor/up-arrow.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.control-down{
            margin: 5px;
            background-image: url('../img/constructor/down-arrow.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__vertical{
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;
    }
}

.main-controls{
    position: absolute;
    top: 10px;
    right: 0;

    &__button{
        font-size: 12px;
        color: $g-color;
        padding: 5px 15px;
        margin: 0 5px;
        border: solid 1px $bg-light;
        background: $bg-light;
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;
        transition: all 0.3s ease;
        position: relative;

        &:hover{
            color: $bg-light;
            background: $g-color;
        }
    }

    &__input{
        width: 100%;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        
    }
}

.adding-items{
    margin-left: 50px;
    overflow: auto;

    &__container{
        display: flex;
        flex-wrap: wrap;
    }
    &__thumbnail{
        color: $g-black;
        padding: 10px;
        margin: 15px;
        cursor: pointer;
        border: solid 1px $g-color;
        border-radius: 5px;
        flex: 0 0 200px;
        transition: all 0.3s ease;
        background: $g-color;

        &:hover{
            transform: scale(1.05);
        }

        img{
            width: 100%;
        }

    }
    &__description{
        display: block;
    }
}

.context-menu{
    max-width: 350px;
    width: 100%;
    border-left: solid 1px $bg-light;
    background: $light-bg;
    position: absolute;
    left: 50px;
    z-index: 1000;

    &__header{
        font-size: 24px;
        line-height: 50px;
        padding: 0 30px;
        text-transform: uppercase;
        background: $g-background;
        position: relative;
    }

    &__body{
        padding: 15px 30px;
    }

    &__title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__button{
        color: $g-color;
        padding: 5px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background: $g-red;
        transition: all 0.5s ease;
        display: inline-block;

        &:hover{
            color: $g-black;
            background: $g-color;
        }
    }
    &__field{
        margin-bottom: 10px;
    }
    &__subtitle{
        margin-bottom: 10px;
        display: block;
    }
    &__input{
        font-size: 12px;
        color: $g-color;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: solid 1px $g-color;
        border-radius: 5px;
        background: transparent;
    }
    &__label{
        display: block;

        span{
            line-height: 1;
            vertical-align: top;
        }
    }
}