//
// Write you code 
//


// Globals



html,body {
    font-family: $font-family-text;
	font-size: $font-size-normal;
    width: 100%;
	min-height: 100%;
	margin: 0;
    padding: 0;
	letter-spacing: normal;
    color: $color-text;
    background: $color-bg;
    position: relative;
}

.container {
    @include container($width-container);
}

.row {
    @include row();

    .col {
        @include col(1, rem-calc(20), rem-calc(20));
    }
}

.hide{
    display: none !important;
}

button{
    @include button($color-header,$padding:rem-calc(20));
    animation: 2s pulse infinite;
}

.preloader-overlay{
    @include preloader-overlay($color-bg);

    .preloader-content{
        @include preloader-content();
    }
}


// Your code here 