include partials/header.pug
body
    header.dashboard-header
        .dashboard-logo
            img.dashboard-logo__image(src="./img/logo.png")
            span.dashboard-logo__name LabConstruct
        a(href="#").dashboard-user
            .dashboard-user__image
                img.dashboard-user__photo(src="./img/user.jpg")
            .dashboard-user__name Дмитрий Смирнов
    .dashboard-inner
        .dashboard-sidebar
            ul.dashboard-sidebar__menu-list
                li.dashboard-sidebar__menu-item.active
                    a(href="#").dashboard-sidebar__menu-link.icon-dashboard Dashboard
                li.dashboard-sidebar__menu-item 
                    a(href="#").dashboard-sidebar__menu-link.icon-constructor Конструктор
                li.dashboard-sidebar__menu-item 
                    a(href="#").dashboard-sidebar__menu-link.icon-monitoring Мониторинг
                li.dashboard-sidebar__menu-item 
                    a(href="#").dashboard-sidebar__menu-link.icon-notification Уведомления
        .dashboard-content
            .dashboard-content__message
                h1.dashboard-content__title Мониторинг
                span.dashboard-content__notification На этой странице можно проверить состояние компьютеров
            .dashboard-content__container
                .dashboard-content__row
                    table.monitoring-table
                        tr.monitoring-table__row
                            th.monitoring-table__cell ID
                            th.monitoring-table__cell Имя устройства
                            th.monitoring-table__cell IP
                            th.monitoring-table__cell Статус
                            th.monitoring-table__cell Ping
                            th.monitoring-table__cell Скорость
                        tr.monitoring-table__row
                            td.monitoring-table__cell 1
                            td.monitoring-table__cell PC 1
                            td.monitoring-table__cell 192.168.0.1
                            td.monitoring-table__cell Доступен
                            td.monitoring-table__cell 0.2ms
                            td.monitoring-table__cell 4 Mb/s
                        tr.monitoring-table__row
                            td.monitoring-table__cell 2
                            td.monitoring-table__cell PC TWO
                            td.monitoring-table__cell 192.168.0.2
                            td.monitoring-table__cell Доступен
                            td.monitoring-table__cell 0.2ms
                            td.monitoring-table__cell 4 Mb/s
                        tr.monitoring-table__row
                            td.monitoring-table__cell 3
                            td.monitoring-table__cell PC three
                            td.monitoring-table__cell 192.168.0.3
                            td.monitoring-table__cell Доступен
                            td.monitoring-table__cell 0.2ms
                            td.monitoring-table__cell 4 Mb/s
                        tr.monitoring-table__row
                            td.monitoring-table__cell 4
                            td.monitoring-table__cell PC 4
                            td.monitoring-table__cell 192.168.0.4
                            td.monitoring-table__cell Доступен
                            td.monitoring-table__cell 0.2ms
                            td.monitoring-table__cell 4 Mb/s

                .dashboard-content__row
                    .widget-medium
                        .widget-medium__title Информация о ПК
                        p.widget-medium__description Платформа: <%= sysinfo %>
                        p.widget-medium__description Операционная система:
                        p.widget-medium__description Платформа:
                        p.widget-medium__description Платформа:
                        p.widget-medium__description Платформа:
                        p.widget-medium__description Платформа:
                        p.widget-medium__description Платформа:
                    .widget-medium-s
                        .widget-medium-s__title CPU, RAM
                        .widget-medium-s-block
                            .widget-medium-s-top
                                .widget-medium-s__inline.widget-medium-s__inline--left Название
                                .widget-medium-s__inline.widget-medium-s__inline--right 10
                            .widget-medium-s-bottom
                                .widget-medium-s__status(style="width: 50%", count="1")
                        .widget-medium-s-block
                            .widget-medium-s-top
                                .widget-medium-s__inline.widget-medium-s__inline--left Название
                                .widget-medium-s__inline.widget-medium-s__inline--right 101
                            .widget-medium-s-bottom
                                .widget-medium-s__status(style="width: 80%", count="2")
                        .widget-medium-s-block
                            .widget-medium-s-top
                                .widget-medium-s__inline.widget-medium-s__inline--left Название
                                .widget-medium-s__inline.widget-medium-s__inline--right 101
                            .widget-medium-s-bottom
                                .widget-medium-s__status(style="width: 80%", count="3")



include partials/footer.pug